<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carpark">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.OnboardingActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".views.InvoiceActivity"></activity>
        <activity android:name=".views.DetailsActivity"></activity>
        <activity android:name=".EnterOTP"></activity>
        <activity android:name=".views.ScheduleActivity" />
        <activity android:name=".VerifyNumber" />
        <activity
            android:name=".MyVehicleActivity"
            android:label="@string/title_activity_my_vehicle"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".views.MainActivity"></activity>
        <activity android:name=".views.ProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>